<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Watersheds Online</title>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css"/>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.control.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/customControls.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
  <script type="text/javascript" src="https://unpkg.com/esri-leaflet/dist/esri-leaflet.js"></script>
  <script type="text/javascript" src="https://unpkg.com/esri-leaflet-vector@3.1.1/dist/esri-leaflet-vector.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.1/dist/leaflet.timedimension.min.js"></script>

  <script src="{{ url_for('static', filename='js/runOnLoad.js') }}" type="module"></script>

</head>
<body>
  No uploaded
</body>
</html>
